<!DOCTYPE html>
<html lang="en" ng-app="authApp">
<head>
	<meta charset="UTF-8">
	<title>Auth</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="angular-ui-notification.min.css">
	<style>
		.form-signin {
			max-width: 350px;
			margin: 200px auto 0;
		}

		.form-control {
			margin-bottom: 15px;
		}

		h2 {
			margin-bottom: 40px;
		}

		[ng-click] {
			cursor: pointer;
		}

		.btn {
			min-width: 160px;
		}

		.modal {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .5);
			z-index: 100;
			display: block;
		}

		.modal-cancel {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}

		.modal-content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 800px;
			margin: 200px auto 0;
			padding: 15px;
			z-index: 2;
		}

		.label {
			color: #000;
		}

		.btn.btn-file {
			position: relative;
			overflow: hidden;
			cursor: pointer;
		}

		.btn.btn-file input,
		.btn.btn-file .csv-import {
			opacity: 0;
			position: absolute;
			top: -100%;
		}
	</style>
</head>
<body ng-controller="authController">
<a href="tests.php">Tests</a>
<!--<label class="btn btn-success btn-file">-->
<!--<csv-import-->
<!--separator="csv.separator"-->
<!--result="csv.result"-->
<!--header="csv.header"></csv-import>-->
<!--Upload CSV-->
<!--</label>-->
<br><br>
<h5>Upload CSV</h5>
<ng-csv-import
		class="import"
		content="csv.content"
		header="csv.header"
		header-visible="csv.headerVisible"
		separator="csv.separator"
		separator-visible="csv.separatorVisible"
		result="csv.result"
		encoding="csv.encoding"
		encoding-visible="csv.encodingVisible"
		upload-button-label="csv.uploadButtonLabel"
		progress-callback="csv.progressCallback"
		streaming-callback="csv.streamingCallback"
		streaming-error-callback="csv.streamingCallback"></ng-csv-import>
</div>
<div class="container">
	<div ng-show="authPage">
		<form class="form-signin" ng-submit="login()" ng-show="!showSingInForm">
			<h2 class="text-center">Login form</h2>

			<label for="email" class="sr-only">Email address</label>
			<input type="email" id="email" class="form-control" placeholder="Email" required autofocus ng-model="email">

			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" class="form-control" placeholder="Password" required
				   ng-model="password">

			<button class="btn btn-primary btn-block" type="submit">Log in</button>
			<br>
			<div class="text-center">
				<a ng-click="changeForm()">Create an account</a>
			</div>
		</form>

		<form class="form-signin" ng-submit="singup()" ng-show="showSingInForm">
			<h2 class="text-center">Sing up form</h2>

			<label for="semail" class="sr-only">Email address</label>
			<input type="email" id="semail" class="form-control" placeholder="Email" autofocus required
				   ng-model="email">

			<label for="spassword" class="sr-only">Password</label>
			<input type="password" id="spassword" class="form-control" placeholder="Password" required
				   ng-model="password">

			<label for="sname" class="sr-only">Name</label>
			<input type="text" id="sname" class="form-control" placeholder="Name" required ng-model="name">

			<label for="sage" class="sr-only">Age</label>
			<input type="number" id="sage" class="form-control" placeholder="Password" required ng-model="age">

			<button class="btn btn-primary btn-block" type="submit">Sing up</button>
			<br>
			<div class="text-center">
				<a ng-click="changeForm()">Log in</a>
			</div>
		</form>
	</div>
	<div ng-show="userPage">
		<h2>User page</h2>
		<table class="table table-striped">
			<tr>
				<td>Name</td>
				<td ng-bind="user.name"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td ng-bind="user.email"></td>
			</tr>
			<tr>
				<td>Age</td>
				<td ng-bind="user.age"></td>
			</tr>
		</table>
		<button class="btn btn-primary" ng-click="logout()">Log Out</button>
		<button class="btn btn-danger" ng-click="modalOpen = true;">Delete account</button>

		<div class="modal" ng-show="modalOpen">
			<div class="modal-cancel" ng-click="modalOpen=false;"></div>
			<div class="modal-content">
				<h2>Are you sure?</h2>
				<div>
					<p>If you really want to delete your account, please enter your password here</p>
					<label for="dpass" class="sr-only">Email address</label>
					<input type="password" id="dpass" class="form-control" placeholder="Password" autofocus required
						   ng-model="dpass">
				</div>
				<div class="text-right">
					<button class="btn btn-default" ng-click="modalOpen=false;">Cancel</button>
					<button class="btn btn-danger" ng-click="delete()">Delete account</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="!authPage && !userPage" class="text-center">Loading...</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="angular-ui-notification.min.js"></script>
<script src="angular-csv-import.min.js"></script>
<script src="script.js"></script>
</body>
</html>